label{
	margin: auto;
	font-family: #455235;
	font-size: 1.25rem;
	display: inline-block;
    margin-bottom: .8rem;
}
.form-group{
	max-width: 600px;
	margin: auto;
	text-align: left;
}
.form-control {
    display: block;
    width:auto;
    padding: .375rem .75rem;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group-prepend {
    margin-right: -1px;
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
	margin-bottom: .8rem
}
.ans{
	font-size: 1.25rem;
	text-align: left;
	margin-left: 50px;
}